.notebook {
    position: fixed;
    z-index: -99;
    width: 60%;
    top: 0vh;
}

.bodycontainer {
    height: 80vh;
    width: 85vh;
    margin-top: 22vh;
    margin-left: 6.3vw;
    overflow: scroll;
}

header {
    font-family: 'Helvetica', sans-serif;
    position: relative;
    padding-top: 0;
}

header > h1 {
    font-size: 7vh;
    font-weight: 500;
}

header > h2 {
    font-family: 'Kristi', display;
    font-size: 7vh;
}