body {
    margin: 2em;
    max-height: 100%;
}

.museumcontainer {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows:  0.05fr 1fr;; 
  gap: 0px 0px; 
  grid-template-areas: 
    "articlehead articlehead authornotes"
    "article article endnotes"
    ". . ."; 
}

.articlehead { grid-area: articlehead; }
.authornotes { grid-area: authornotes; }
.article { grid-area: article; }
.endnotes { grid-area: endnotes; }

h1 {
    letter-spacing: -1.2px !important;
}

b {
    font-weight: 700;
}

sup {
  vertical-align: super;
  font-size: 0.7em;
  position: absolute;
}

.fakenav {
  padding-top: 4em;
  padding-bottom: 0;
}

hr {
  border-top: 1px solid black;
}

.museumtitle {
    font-size: 4em;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0.6em;
    padding-bottom: 0.5em;
}

.authornotes {
    margin: 2em;
    padding-top: 0.5em;
    padding-left: 4em;
}

.authornotes > p {
  font-size: 1em;
  padding-bottom: 0;
}

.museumauthor {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.1em;
    padding-bottom: 1.5em;
}

.article {
    border: 1px solid black;
    padding: 2em;
}

.museumhero {
  position: relative;
  width: auto;
}

.heroimg {
    min-width: 100%;
    display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #A2C6E7;
  mix-blend-mode: multiply;
}

.museumhero:hover .overlay {
  opacity: 1;
}

.herocaption {
    font-size: 0.9em;
    padding-top: 1em;
    padding-bottom: 2em;
}

.article > p {
    font-size: 1.2em;
    padding-bottom: 1.2em;
    line-height: 1.4em;
}

.endnotes {
  margin: 2em;
  padding-left: 4em;
}

.endone {
  position: absolute;
  font-size: 0.8em;
  padding-top: 300vh;
  padding-right: 6em;
}

.endone p:hover {
  background-color: #A2C6E7;
  opacity: 90%;
}

.endtwo {
  position: absolute;
  font-size: 0.8em;
  padding-top: 737vh;
}

.endtwo p:hover {
  background-color: #A2C6E7;
  opacity: 90%;
}

.endthree {
  position: absolute;
  font-size: 0.8em;
  padding-top: 750vh;
}

.endthree p:hover {
  background-color: #A2C6E7;
  opacity: 90%;
}

h1:hover {
  background-color: #A2C6E7;
  opacity: 90%;
}

h2:hover {
  background-color: #A2C6E7;
  opacity: 90%;
}

p:hover {
  background-color: #A2C6E7;
  opacity: 90%;
}

.fakenav2 {
  margin-top: -2em;
  margin-bottom: 4em;
}

@media only screen and (max-width:768px) and (min-width:200px)
{
  html, body {
    overflow-x: hidden;
  }

  body {
    position: relative;
    margin: 1em;
    max-height: 100%;
  }

  .museumcontainer {
  display: block; 
  }

  .authornotes {
    margin: 0em;
    padding-top: 1em;
    padding-left: 0;
  }

.authornotes > p {
  font-size: 1em;
  padding-bottom: 0;
}

.museumauthor {
  font-size: 1.2em;
}

.article {
  border: 1px solid black;
  padding: 2em;
  margin-top: 3em;
}

.museumhero {
position: relative;
width: auto;
}

.heroimg {
  min-width: 100%;
  display: block;
}

.endnotes {
  display: none;
}

.fakenav2 {
  margin-top: 4em;
  margin-bottom: 3em;
}

}

@media print {

  @page {
      margin-top: 1in;
      margin-bottom: 1.5in !important;
      orphans: 4;
      widows: 4;
  }

  @page :first {
      margin-top: 0;
  }

  body {
      margin: 0.5in;
  }
  .fakenav {
    padding-top: 2em;
    padding-bottom: 0;
  }
  
  hr {
    border-top: 1px solid black;
  }
  
  .museumcontainer {
    grid-template-rows:  0.014fr 1fr;; 
  }

  .museumtitle {
      font-size: 48px;
  }

  .authornotes {
      margin: 0;
      padding-top: 0; 
      padding-left: 1em;
      margin-top: 2em;
  }

  .authornotes > p {
    font-size: 10px;
    padding-bottom: 0;
  }

  .museumauthor {
    font-size: 14px;
    padding-bottom: 1.5em;
}

.herocaption {
  font-size: 10px;
  padding-top: 1em;
  padding-bottom: 2em;
}

.herocaption > p {
  font-size: 10px;
}

.article {
  padding: 1em;
}

.article > p {
  font-size: 12px;
  padding-bottom: 1.2em;
  line-height: 1.4em;
}

.endnotes {
margin: 2em;
padding-left: 3.5em;
}

.endone {
  position: absolute;
  font-size: 10px;
  padding-top: 163vh;
  padding-right: 2em;
}

.endone > p {
  font-size: 10px !important;
}

.endtwo {
  position: absolute;
  font-size: 10px;
  padding-top: 471.5vh;
  padding-right: 2em;
}

.endtwo > p {
  font-size: 10px !important;
}

.endthree {
  position: absolute;
  font-size: 10px;
  padding-top: 480vh;
}

.endthree > p {
  font-size: 10px !important;
}

.fakenav2 {
  margin-top: 2em;
  margin-bottom: 3em;
}

}