body {
    margin: 4em;
}

.circles {
    position: absolute;
    right: 4vw;
    z-index: 1;
    top: 2em;
}

.dot {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin: 2em;
    display:block;
    position: relative;
  }

.dot:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.5);
    cursor: pointer;
}

.paper {
    display: block;
    position: relative;
    background-image: url(assets/img/blank_paper2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 190vh;
    width: 81.2vw;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.papercontents {
    top: 0;
    height: 180vh;
    width: 80vw;
}

.title {
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    color: #FE0075;
}

.title > h1 {
    font-size: 6vh;
    padding-bottom: 1em;
    mix-blend-mode: multiply;
}

.author {
    color: #FE0075;
    font-family: 'EB Garamond', serif;
    text-transform: none;
    font-style: italic;
    font-weight: 500;
    font-size: 2em;
    mix-blend-mode: multiply;
    padding-left: 2em;
    padding-right: 2em;
}

.riso {
    padding: 4.5em;
    mix-blend-mode: multiply;
}

.bodycopy {
    font-size: 2vh;
    padding-left: 4.5em;
    padding-right: 4.5em;
    height: 90vh;
    overflow: scroll;

}

.bodycopy > p {
    padding-bottom: 2em;
}

.bodycopy > h4 {
    font-family: 'EB Garamond', serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.1px;
    font-size: 3vh;
    padding-bottom: 2em;
}

.quoted {
    font-family: 'EB Garamond', serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.1px;
    font-size: 3vh;
    mix-blend-mode: multiply;
    padding-bottom: 4em;
}

.signature {
    position: absolute;
    font-family: 'Kristi', display;
    font-size: 2em;
    letter-spacing: 0.5px;
    color: #999;
    opacity: 95%;
    padding-left: 1em;
    padding-bottom: 1em;
}
