body {
    margin: 4em;
}
.circles {
    position: absolute;
    right: 6vw;
    z-index: 1;
    top: 2em;
}

.dot {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin: 2em;
    display:block;
    position: relative;
}

a .dot:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.5);
    cursor: pointer;
}
  
.paper {
    display: block;
    position: relative;
    background-image: url(assets/img/blank_paper2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200vh;
    width: 80vw;
}

.papercontents {
    top: 0;
    height: 180vh;
    width: 80vw;
}

.title {
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    color: #FE0075;
}

.title > h1 {
    font-size: 6vh;
    padding-bottom: 1em;
    mix-blend-mode: multiply;
}

.author {
    color: #FE0075;
    font-family: 'EB Garamond', serif;
    text-transform: none;
    font-style: italic;
    font-weight: 500;
    font-size: 2em;
    mix-blend-mode: multiply;
    padding-left: 2em;
    padding-right: 2em;
}

.title > span {
    color: #009BE7;
    font-size: 6vh;
    mix-blend-mode: multiply;
    position: absolute;
    z-index: 1;
    top: 1.3em;
    padding-left:2px;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
}

.author > span {
    color: #009BE7;
    position: absolute;
    z-index: 1;
    top: 28.5vh;
    padding-left:2px;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    mix-blend-mode: multiply;
}

.title span:nth-child(2) {
    color: #FCF400;
    font-size: 6vh;
    mix-blend-mode: multiply;
    position: absolute;
    z-index: 1;
    top: 1.4em;
    padding-right:2px;
    padding-bottom: 0em;
    padding-left: 0em;
    padding-top: 0em;
}

.author span:nth-child(2) {
    color: #FCF400;
    position: absolute;
    z-index: 1;
    top: 29vh;
    padding-right:2px;
    mix-blend-mode: multiply;
    padding-bottom: 0em;
    padding-left: 0em;
    padding-top: 0em;
}

.riso {
    padding: 4.5em;
    mix-blend-mode: multiply;
}

.bodycopy {
    font-size: 2vh;
    padding-left: 4.5em;
    padding-right: 4.5em;
    height: 90vh;
    overflow: scroll;

}

.bodycopy > p {
    padding-bottom: 2em;
}

.bodycopy > h4 {
    font-family: 'EB Garamond', serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.1px;
    font-size: 3vh;
    padding-bottom: 2em;
}

.quoted {
    font-family: 'EB Garamond', serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.1px;
    font-size: 3vh;
    mix-blend-mode: multiply;
    padding-bottom: 4em;
}

.signature {
    position: absolute;
    font-family: 'Kristi', display;
    font-size: 2em;
    letter-spacing: 0.5px;
    color: #999;
    opacity: 95%;
    padding-left: 1em;
    padding-bottom: 1em;
}

@media only screen and (max-width:768px) and (min-width:200px)
{
   body {
        margin: 1em;
        margin-top: 5em;
    }
    
    .circles {
        position: absolute;
        right: 1vw;
        z-index: 1;
        top: 0.5em;
    }
    
    .dot {
        height: 2em;
        width: 2em;
        border-radius: 50%;
        margin: 1em;
        display: inline-block;
    }
    
    .paper {
        display: block;
        position: relative;
        background-image: url(assets/img/blank_paper2.jpg);
        background-size: contain;
        background-repeat: repeat;
        height: 100vh;
        width: 92vw;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .papercontents {
        top: 0;
        height: auto;
        width: 92vw;
    }
    
    .title {
        text-align: left;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
    }
    
    .title > h1 {
        font-size: 3.4vh;
        padding-bottom: 1em;
    }

    .title > span {
        color: #009BE7;
        font-size: 3.4vh;
        mix-blend-mode: multiply;
        position: absolute;
        z-index: 1;
        top: 0em;
        text-align: left;
        padding-bottom: 1em;
        padding-left: 0em;
        padding-right: 1em;
        padding-top: 1em;
    }

    .title span:nth-child(2) {
        color: #FCF400;
        font-size: 3.4vh;
        z-index: 1;
        top: 0.2em;
        text-align: left;
        padding-bottom: 1em;
        padding-left: 0em;
        padding-right: 1em;
        padding-top: 1em;
    }

    .author {
        font-size: 2.9vh;
        padding-left: 1.3em;
        padding-right: 1.3em;
    }
    .author > span {
        font-size: 2.9vh;
        color: #009BE7;
        position: absolute;
        z-index: 1;
        top: 23.5vh;
        padding-left: 0em;
        padding-right: 1.3em;
        
    
    }

    .author span:nth-child(2) {
        color: #FCF400;
        position: absolute;
        z-index: 1;
        top: 24vh;
        padding-right:2px;
        padding-bottom: 0em;
        padding-right: 0em;
        padding-top: 0em;
    }   
    
    .riso {
        padding: 1em;
        padding-bottom: 2em;
    }


    .quoted {
        font-size: 2.3vh;
        padding-bottom: 2em;
    }

    .bodycopy {
        font-size: 2vh;
        padding-left: 2em;
        padding-right: 2em;
        height: 50vh;
        overflow: scroll;
    
    }
    
    p {
        font-size: 1.1em;
        line-height: 1.2em;
        padding-bottom: 1.5em;
    }
    
    .bodycopy > h4 {
        font-size: 2.5vh;
        padding-bottom: 1.5em;
    }
    
    
    .signature {
        font-size: 1.5em;
        padding-left: 1em;
        padding-top: 1em;
    }
}