body {
    margin: 4em;
}

.circles {
    position: absolute;
    right: 4vw;
    z-index: 1;
    top: 2em;
}

.dot {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    margin: 2em;
    display:block;
    position: relative;
  }

a .dot:hover {
    transition: all .3s ease-in-out;
    transform: scale(1.5);
    cursor: pointer;
}

.paper {
    display: block;
    position: relative;
    background-image: url(assets/img/blank_paper2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200vh;
    width: 80vw;
}

.papercontents {
    top: 0;
    height: 180vh;
    width: 80vw;
}

.title {
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    color: #FE0075;
}

.title > h1 {
    font-size: 6vh;
    padding-bottom: 1em;
    mix-blend-mode: multiply;
}

.author {
    color: #FE0075;
    font-family: 'EB Garamond', serif;
    text-transform: none;
    font-style: italic;
    font-weight: 500;
    font-size: 2em;
    mix-blend-mode: multiply;
    padding-left: 2em;
    padding-right: 2em;

}

.riso {
    padding: 4.5em;
    mix-blend-mode: multiply;
}

.bodycopy {
    font-size: 2vh;
    padding-left: 4.5em;
    padding-right: 4.5em;
    height: 90vh;
    overflow: scroll;

}

.bodycopy > h4 {
    font-family: 'EB Garamond', serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.1px;
    font-size: 1.4em;
    padding-bottom: 2em;
}

.quoted {
    font-family: 'EB Garamond', serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.1px;
    font-size: 1.4em;
    mix-blend-mode: multiply;
    padding-bottom: 4em;
}

.signature {
    position: absolute;
    font-family: 'Homemade Apple', cursive;
    font-size: 1em;
    letter-spacing: 0.5px;
    color: #999;
    opacity: 95%;
    margin-left: 2em;
    padding-bottom: 1em;
}

@media only screen and (max-width:768px) and (min-width:200px)
{
   body {
        margin: 1em;
        margin-top: 5em;
    }
    
    .circles {
        position: absolute;
        right: 1vw;
        z-index: 1;
        top: 0.5em;
    }
    
    .dot {
        height: 2em;
        width: 2em;
        border-radius: 50%;
        margin: 1em;
        display: inline-block;
    }
    
    .paper {
        display: block;
        position: relative;
        background-image: url(assets/img/blank_paper2.jpg);
        background-size: contain;
        background-repeat: repeat;
        height: 100vh;
        width: 92vw;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .papercontents {
        top: 0;
        height: auto;
        width: 92vw;
    }
    
    .title {
        text-align: left;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
    }
    
    .title > h1 {
        font-size: 3.4vh;
        padding-bottom: 1em;
    }
    
    .author {
        font-size: 2.9vh;
        padding-left: 1.3em;
        padding-right: 1.3em;
    }
  
    .riso {
        padding: 1em;
        padding-bottom: 2em;
    }


    .quoted {
        font-size: 2.3vh;
        padding-bottom: 2em;
    }

    .bodycopy {
        font-size: 2vh;
        padding-left: 2em;
        padding-right: 2em;
        height: 50vh;
        overflow: scroll;
    
    }
    
    p {
        font-size: 1.1em;
        line-height: 1.2em;
        padding-bottom: 1.5em;
    }
    
    .bodycopy > h4 {
        font-size: 2.5vh;
        padding-bottom: 1.5em;
    }
    
    
    .signature {
        font-size: 0.8em;
        padding-left: 0em;
        padding-top: 2em;
    }
}

@media print {

    @page {
        margin-top: 1in;
        margin-bottom: 1.5in !important;
        orphans: 4;
        widows: 4;
    }

    @page :first {
        margin-top: 0.5in;
    }

    body {
        margin: 0.5in;
    }

    .circles {
        position: absolute;
        top: 0;
        right: 0.1in;
    }
    
    .dot {
        margin: 0.1in;
        display:inline-block;
      }
    
    .paper {
        display: block;
        position: relative;
        background-image: none;
        height: auto;
        width: 100%;
    }

    .papercontents {
        top: 0;
        height: auto;
        width: 100%;
    }
    
    .title {
        padding-left: 0;
        padding-right: 0;
        padding-left: 0;
        padding-top: 0.5in;
    }
    
    .title > h1 {
        font-size: 3.2vh;
        padding-bottom: 0.2in;
    }
    
    .author {
        font-size: 1.8em;
        padding-left: 0;
        padding-right: 0;
    }

    .riso {
        padding: 0;
        padding-top: 0.5in;
        padding-bottom: 0.5in;
    }

    .quoted {
        font-size: 16px;
        mix-blend-mode: multiply;
        padding-bottom: 0.2in;
    }
    
    .bodycopy {
        font-size: 12px;
        padding-left: 0;
        padding-right: 0;
        height: auto;
        overflow: none;
    }

    p {
        font-size: 12px;
        line-height: 14px;
        padding-bottom: 0.2in;
    }
    
    .bodycopy > h4 {
        font-weight: 500;
        font-size: 16px;
        padding-bottom: 0.2in;
    }
    
    .signature {
        font-size: 10px;
        padding-left: 0;
        padding-bottom: 0;
    }
    
}