@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Homemade+Apple&display=swap');

@font-face {
    font-family: "Helvetica Neue";
    src: url(/assets/fonts/helveticaneue.ttc);
}

@font-face {
    font-family: "Helvetica";
    src: url(/assets/fonts/helvetica.ttc);
}

h1, p {
  font-family: 'Helvetica Neue', sans-serif;
  letter-spacing: 0.01em;
}

h1, h3, h4{
  text-transform: uppercase;
  font-weight: medium;
  letter-spacing: 0.03em;
}

p {
  font-size: 1.2em;
  line-height:1.4em;
  padding-bottom: 1.2em;
}

nobr {
white-space: nowrap;
}

button {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
}

button:hover {
  cursor: pointer;
  transition: 0.5s ease-in-out;
  rotate: -45deg;
}

#info {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding-top: 0.1em;
  padding-right:0.2em;
  top: 0;
  right: 0;
}

#info:hover{
  text-decoration: line-through;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 6em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  background-color: white;
  margin: auto;
  padding: 0;
  width: 60%;
}

.modalheader {
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 1em;
  padding-top: 5em;
}

.modalheader > h2 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 500;
}

.modalheader > h3 {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.8em;
  letter-spacing: 0.01em;
  text-transform: none;
  font-weight: normal;
  padding-top: 0.2em;
}

.modalbody {
  padding: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.colophon {
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 0;
  padding-bottom: 4em;
}

.colophon > p {
  font-family: 'EB Garamond', serif;
  font-style: italic;
}

.close {
  position: relative;
  color: black;
  top: 0;
  right: 0;
  float: right;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  rotate: 45deg;
  transition: 0.5s ease-in-out;
}

.indextitle {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3rem;
  font-weight: 500 !important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding-top: 8vh;
  letter-spacing: 0.03em;
}

@keyframes strike{
  0%   { width : 0; }
  50%  {width: 100%}
  100% {width: 0;}
}
.strike {
  position: relative;
}
.strike::after {
  content: ' ';
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: 5px;
  background: black;
  animation-name: strike;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards; 
}

.bot-title {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.hero {
  height: 100vh;
}

.title {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    padding-top: 4vw;
    font-weight: 500;
}

.main {
    height: 100vh;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2vw 2vw;
    grid-auto-flow: row;
    grid-template-areas:
      "pencil squeegee mouse";
    padding-top: 4vw;
    padding-bottom: 4vw;
}
  
  .pencil {
    grid-area: pencil;
    
}

 .pencil:hover {
 animation: shake 0.9s;
 animation-iteration-count: infinite;
 cursor: pointer;
 }

@keyframes shake {
 0% { transform: translate(1px, 1px) rotate(0deg); }
 10% { transform: translate(-1px, -2px) rotate(-1deg); }
 20% { transform: translate(-3px, 0px) rotate(1deg); }
 30% { transform: translate(3px, 2px) rotate(0deg); }
 40% { transform: translate(1px, -1px) rotate(1deg); }
 50% { transform: translate(-1px, 2px) rotate(-1deg); }
 60% { transform: translate(-3px, 1px) rotate(0deg); }
 70% { transform: translate(3px, 1px) rotate(-1deg); }
 80% { transform: translate(-1px, -1px) rotate(1deg); }
 90% { transform: translate(1px, 2px) rotate(0deg); }
 100% { transform: translate(1px, -2px) rotate(-1deg); }
}
  
.squeegee {
    grid-area: squeegee;
}

.squeegee:hover {
  animation: shake 0.9s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
  
.mouse {
    grid-area: mouse;

}

.mouse:hover {
    animation: shake 0.9s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@media only screen and (max-width:768px) and (min-width:200px) {

  nobr {
  white-space: overflow;
}


.indextitle {
  font-size: 2.3rem;
}

.strike::after {
  height: 4px;
}

.bot-title {
  font-size: 2.3rem;
}


.container {
  display: block;
}

.pencil {
  width: 60%;
  margin: auto;
}

.squeegee {
  width: 60%;
  margin: auto;
}

.mouse {
  width: 60%;
  margin: auto;
}

.modal {
  padding-top: 2em;
}

.modal-content {
  width: 85%;
}

.modalheader {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-top: 3.5em;
}

.modalheader > h2 {
  font-size: 2.3em;
  text-align: center;
}

.modalheader > h3 {
  text-align: center;
}

.modalbody {
  padding: 1.2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.modalbody > p {
  font-size: 1.2em;
}

.colophon {
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 0;
  padding-bottom: 2em;
}

.close {
  position: relative;
  color: black;
  top: 0;
  right: 0;
  float: right;
  rotate: 45deg;
}

}

@media print {

  button {
      display: none;
  }   
  
  .modal {
      padding-top: 5.2em;
  }
    
  .modal-content {
      width: 80%;
  }


  .modalbody > p {
  font-size: 12px;
  }

  .colophon > p {
    font-size: 12px;
  }
  
  .close {
    rotate: 45deg;
  }
}
