@font-face {
    font-family: "Helvetica Neue";
    src: url(/assets/fonts/helveticaneue.ttc);
  }

h1, h2, h3, h4, h5, p {
    font-family: 'Helvetica Neue', sans-serif;
}

/* navigation */ 
.nav {
    height:4vw;
    width:4vw;
    transition: 0.2s ease-in-out;
    margin: auto;
    cursor:pointer;
    float:left; 

  }

.nav:hover{
    transform: rotate(45deg);
    }


.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "pencil squeegee mouse";
  }
  
  .pencil { grid-area: pencil; }
  
  .squeegee { grid-area: squeegee; }
  
  .mouse { grid-area: mouse; }
  